{% extends 'layout/front.html.twig' %}

{% block title %}Hello Visiteur{% endblock %}

{% block body %}
    <h1>Listes des posts</h1>

    {% for post in posts %}
        <h3><a href="{{ path('detail_post',{'id' : post.id}) }}">{{ post.title }}</a></h3>

    {% endfor %}
{% endblock %}
