{% extends 'home/index.html.twig' %}

{% block title %}Post detail{% endblock %}

{% block body %}

<h1>Titre : {{ post.title }}</h1>
    <br>
    <h3>Content :</h3><p>{{ post.content }}</p>
    <h5>{{ post.createdAt|date('Y-m-d H:i') }}</h5>
    <h5>{{ post.NumberView }} vues</h5>
{% endblock %}
